/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
body.references section.case-studies {
  padding-top: 120px;
  clear: both; }
  /* line 10, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.case-studies h1 {
    position: relative;
    z-index: 2; }
  /* line 15, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.case-studies .case-study {
    position: relative;
    padding-top: 4em; }
    /* line 19, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .case-study .case-study-container {
      position: relative;
      padding-bottom: 2em; }
      /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container .case-study-logo {
        display: block;
        position: relative;
        padding: 24px 0 32px 0; }
      /* line 29, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container .case-study-quote blockquote {
        *zoom: 1;
        max-width: 68em;
        margin-left: auto;
        margin-right: auto; }
        /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
        body.references section.case-studies .case-study .case-study-container .case-study-quote blockquote:before, body.references section.case-studies .case-study .case-study-container .case-study-quote blockquote:after {
          content: " ";
          display: table; }
        /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
        body.references section.case-studies .case-study .case-study-container .case-study-quote blockquote:after {
          clear: both; }
      /* line 32, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container .case-study-quote p {
        max-width: 740px;
        margin: 0 auto;
        float: none;
        font-size: 16px;
        line-height: 30px;
        font-weight: 500; }
      /* line 40, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container .case-study-quote footer {
        max-width: 740px;
        margin: 1em auto 0 auto;
        float: none;
        font-size: 16px;
        font-style: italic;
        text-align: right; }
      /* line 49, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container.boxinc {
        background: #168ed4;
        background-color: #1880c2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
        background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
        background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
        /* line 54, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.boxinc .case-study-logo img {
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 50px; }
        /* line 62, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.boxinc .case-study-quote p {
          color: #fff; }
        /* line 65, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.boxinc .case-study-quote footer {
          color: #82e5fe; }
      /* line 70, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .case-study .case-study-container.metrostar {
        background: #fff; }
        /* line 74, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.metrostar .case-study-logo img {
          display: block;
          margin: 0 auto;
          width: 75px;
          height: 75px; }
        /* line 82, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.metrostar .case-study-quote p {
          color: #334450; }
        /* line 85, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .case-study .case-study-container.metrostar .case-study-quote footer {
          color: #8e99a2; }
    /* line 94, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .case-study .case-study-file img {
      display: block;
      position: absolute;
      left: 50%;
      bottom: -61px;
      margin-left: -495px;
      width: 110px;
      height: 140px; }
    /* line 104, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .case-study .case-study-additional-info {
      padding-top: 1em;
      max-width: 740px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 20px;
      color: #8e99a2; }
  /* line 114, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.case-studies .projects-list {
    position: relative;
    z-index: 1;
    height: 1000px;
    overflow: hidden; }
    /* line 120, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .projects-list .project {
      position: absolute;
      width: 970px;
      margin-left: 50%;
      left: -485px;
      opacity: 1.000;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      /* line 129, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .project img {
        position: relative;
        display: block;
        max-width: 970px;
        height: auto; }
      /* line 136, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .project.aw_is_animated {
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
      /* line 140, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .project.aw_is_hidden {
        opacity: 0.001; }
      /* line 144, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .project.aw_is_previous {
        -webkit-transform: translate3d(-360px, 0px, 0);
        -moz-transform: translate3d(-360px, 0px, 0);
        -ms-transform: translate3d(-360px, 0px, 0);
        -o-transform: translate3d(-360px, 0px, 0);
        transform: translate3d(-360px, 0px, 0); }
        /* line 146, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .projects-list .project.aw_is_previous.aw_is_current {
          -webkit-transform: translate3d(0px, 0px, 0);
          -moz-transform: translate3d(0px, 0px, 0);
          -ms-transform: translate3d(0px, 0px, 0);
          -o-transform: translate3d(0px, 0px, 0);
          transform: translate3d(0px, 0px, 0); }
      /* line 152, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .project.aw_is_next {
        -webkit-transform: translate3d(360px, 0px, 0);
        -moz-transform: translate3d(360px, 0px, 0);
        -ms-transform: translate3d(360px, 0px, 0);
        -o-transform: translate3d(360px, 0px, 0);
        transform: translate3d(360px, 0px, 0); }
        /* line 154, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .projects-list .project.aw_is_next.aw_is_current {
          -webkit-transform: translate3d(0px, 0px, 0);
          -moz-transform: translate3d(0px, 0px, 0);
          -ms-transform: translate3d(0px, 0px, 0);
          -o-transform: translate3d(0px, 0px, 0);
          transform: translate3d(0px, 0px, 0); }
    /* line 163, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .projects-list .description {
      transition: opacity 0.75s; }
    /* line 167, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .projects-list h2 {
      text-align: left; }
    /* line 172, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .projects-list .aw_paginated__show_previous,
    body.references section.case-studies .projects-list .aw_paginated__show_next {
      top: 340px;
      color: #ccc; }
      /* line 175, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .aw_paginated__show_previous:hover,
      body.references section.case-studies .projects-list .aw_paginated__show_next:hover {
        color: #0893da; }
      /* line 179, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .aw_paginated__show_previous:active,
      body.references section.case-studies .projects-list .aw_paginated__show_next:active {
        color: #0893da; }
    /* line 183, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.case-studies .projects-list .aw_paginated__indicators {
      top: 680px; }
      /* line 186, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator {
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer; }
        /* line 190, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator:hover {
          background: #fff;
          border-color: #0893da; }
        /* line 194, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator:active {
          background: #ccc; }
        /* line 198, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator.aw_paginated__indicator_active {
          border: 1px solid #0893da;
          background: #0893da; }
          /* line 203, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
          body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator.aw_paginated__indicator_active:hover {
            background: #fff; }
          /* line 206, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
          body.references section.case-studies .projects-list .aw_paginated__indicators .aw_paginated__indicator.aw_paginated__indicator_active:active {
            background: #0972a8; }
/* line 215, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
body.references section.apps {
  position: relative;
  min-height: 360px;
  padding: 100px 0 40px 0; }
  /* line 220, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.apps a {
    color: #7e8992;
    text-decoration: none; }
  /* line 224, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.apps .appgrid {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0 20px 0; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.references section.apps .appgrid:before, body.references section.apps .appgrid:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.references section.apps .appgrid:after {
      clear: both; }
    /* line 229, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.apps .appgrid .app {
      width: 128px;
      height: 140px;
      margin: 0 10px 40px 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-top; }
      /* line 237, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.apps .appgrid .app img {
        display: block;
        width: 96px;
        height: auto;
        margin: 0 auto; }
      /* line 243, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.apps .appgrid .app p {
        margin-top: 10px;
        color: #334450;
        font-size: 13px;
        line-height: 16px;
        font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
        font-weight: 300; }
      /* line 251, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.apps .appgrid .app p.small {
        margin-top: 2px;
        color: #8e99a2;
        font-size: 11px;
        line-height: 14px; }
  /* line 259, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.apps .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    /* line 266, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.apps .footer.link:hover {
      opacity: 1.0; }
/* line 271, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
body.references section.companies-using-pspdfkit {
  display: block;
  padding: 100px 0 40px 0; }
  /* line 275, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
  body.references section.companies-using-pspdfkit ul.companies-list {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.references section.companies-using-pspdfkit ul.companies-list:before, body.references section.companies-using-pspdfkit ul.companies-list:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.references section.companies-using-pspdfkit ul.companies-list:after {
      clear: both; }
    /* line 278, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
    body.references section.companies-using-pspdfkit ul.companies-list li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-bottom: 3em; }
      /* line 41, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_span-columns.scss */
      body.references section.companies-using-pspdfkit ul.companies-list li:last-child {
        margin-right: 0; }
      /* line 281, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.companies-using-pspdfkit ul.companies-list li:nth-child(3n+0) {
        margin-right: 0; }
      /* line 284, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.companies-using-pspdfkit ul.companies-list li .companylogo {
        display: block;
        width: 280px;
        height: 120px;
        margin: 0 auto; }
      /* line 290, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.companies-using-pspdfkit ul.companies-list li a {
        display: block;
        text-decoration: none;
        color: #085075;
        font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: center; }
        /* line 298, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
        body.references section.companies-using-pspdfkit ul.companies-list li a:hover {
          color: #0c81c7; }
      /* line 302, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/references.scss */
      body.references section.companies-using-pspdfkit ul.companies-list li p.small {
        display: block;
        color: #7e8992;
        font-size: 11px;
        line-height: 14px;
        text-align: center; }
